/* index.css ou App.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;500&display=swap');

:root {
  --background: #f5f5f5;
  --text-color: #333;
  --text-muted: #777;
  --primary-color: #601703;
  --primary-hover-color: #783e01;
  --highlight-color: #7b1d04;
}

[data-theme="dark"] {
  --background: #121212;
  --text-color: #ffffff;
  --text-muted: #bbbbbb;
  --primary-color: #0d6efd;
  --primary-hover-color: #0a58ca;
  --highlight-color: #81c784;
}

body {
  background-color: var(--background);
  color: var(--text-color);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
